@{
    ViewData["Title"] = "Каталог";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<div style="display:flex; flex-wrap:wrap; justify-content:space-around" class="vu_cont">

    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Face"><strong>Для лица</strong></a>
        <img style="width:150px; height: 150px" class="face-icon" src="~/img/face-creamicon.png" alt="Alternate Text" class="info-img" />
    </div>


    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Body"><strong>Для тела</strong></a>
        <img style="width:150px; height: 150px" src="~/img/face-cream.png" alt="Alternate Text" class="info-img" />
    </div>


    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hair"><strong>Для волос</strong></a>
        <img style="width:150px; height: 150px" src="~/img/shampoo.png" alt="Alternate Text" class="info-img" />
    </div>

</div>


