@{
    ViewData["Title"] = "Каталог";
}
<h1>@ViewData["Title"]</h1>

@*<p><strong>Для лица</strong></p>
*@<img src="~/img/Face.jpg" alt="Alternate Text" class="info-img" />
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Face"><strong>Для лица</strong></a>


@*<p><strong>Для тела</strong></p>*@
<img src="~/img/Body.jpg" alt="Alternate Text" class="info-img" />
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Body"><strong>Для тела</strong></a>


@*
<p><strong>Для волос</strong></p>
*@<img src="~/img/Hair.jpg" alt="Alternate Text" class="info-img" />
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hair"><strong>Для волос</strong></a>



