@{
    ViewData["Title"] = "Для лица";
}
<h1>@ViewData["Title"]</h1>

@*<p><strong>Для лица</strong></p>
*@
<img class="face-icon" src="~/img/cream1.jpg" alt="Alternate Text" class="info-img" />
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Face">
    <p>HEIMISH Лёгкий увлажняющий гель-крем для лица</p>
    <p>1400 сом</p>
</a>

