@{
    ViewData["Title"] = "Hair";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Для волос</strong></p>
<img src="~/img/Shampoo.jpg" alt="Alternate Text" class="info-img" />
<p>Шапунь Kerasys</p>

<img src="~/img/Shampoo1.jpg" alt="Alternate Text" class="info-img" />
<p>Шапунь Brazilian ceratin</p>



